@model UI.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Ürünler";
    int categoryId = (int)ViewBag.CategoryId;
    string categoryName = categoryId == 1 ? "Tüm Kategoriler" : Model.Categories.FirstOrDefault(x=>x.Id == categoryId).Name;
}

@Html.Hidden("categoryId",categoryId)
<div class="content">
				<div class="products-agileinfo">
						<h2 class="tittle">@categoryName</h2>
					<div class="container">
						<div class="product-agileinfo-grids w3l">
							<div class="col-md-3 product-agileinfo-grid">
								<div class="categories">
									<h3>Kategoriler</h3>
									<ul class="tree-list-pad">
                                        @foreach (var category in Model.Categories.Where(x=>x.ParentId == 1))
                                        {
                                            <li>
                                                <input type="checkbox" checked="checked" id="item-@category.Id"/><label for="item-@category.Id">@category.Name</label>
                                                @if(category.ChildCategories.Count > 0)
                                                {
                                                    <ul>
                                                        <partial name="_SubCategoriesPartial" model="category.ChildCategories"/> 
                                                    </ul>
                                                }
                                            </li>
                                        }
									</ul>
								</div>
								<div class="price">
									<h3>Price Range</h3>
									<ul class="dropdown-menu6">
										<li>                
											<div id="slider"></div>							
											<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
										</li>			
									</ul>
									
									
								</div>
							</div> 
							<div class="col-md-9 product-agileinfon-grid1 w3l">
								<div class="product-agileinfon-top">
									<div class="col-md-6 product-agileinfon-top-left">
										<img class="img-responsive " src="~/images/img1.jpg" alt="">
									</div>
									<div class="col-md-6 product-agileinfon-top-left">
										<img class="img-responsive " src="~/images/img2.jpg" alt="">
									</div>
									<div class="clearfix"></div>
								</div>
								
								<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
									<ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
										<ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
									</ul>
									<div id="myTabContent" class="tab-content">
										<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
											
											<div class="product-tab prod1">

												<div class="clearfix"></div>
											</div>
											
										</div>
										
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
@section scripts{
  <script src="~/page-js/Home/products.js"></script>
}