@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Anlık Rapor (Bugünkü)</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Toplam Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Haftalık Rapor</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Toplam Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Aylık Rapor</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Aylık Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">Siparişlerim</div>
            <div class="panel-body">
                Bekleyen Sipariş Sayısı : 3
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Sipariş Numarası</th>
                        <th>Sipariş Veren</th>
                        <th>Telefon Numarası</th>
                        <th>Toplam Tutar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sefa Karakaya</td>
                        <td>544 448 3306</td>
                        <td>500 ₺</td>
                        <td><button class="btn btn-primary btn-sm">Detay</button><button
                                class="btn btn-success btn-sm">Sipariş Onayla</button></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sefa Karakaya</td>
                        <td>544 448 3306</td>
                        <td>500 ₺</td>
                        <td><button class="btn btn-primary btn-sm">Detay</button><button
                                class="btn btn-success btn-sm">Sipariş Onayla</button></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sefa Karakaya</td>
                        <td>544 448 3306</td>
                        <td>500 ₺</td>
                        <td><button class="btn btn-primary btn-sm">Detay</button><button
                                class="btn btn-success btn-sm">Sipariş Onayla</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>