@using Entities.Concrete;
@using Entities.Enums;
@using Core.Utilities.Results;
@model IDataResult<List<Order>>;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Order> orders = Model.Data.Where(x => x.OrderStatus == (int)OrderStatusEnum.ORDERED).OrderBy(x =>
    x.OrderDate).ToList();
    List<Order> confirmedOrders = Model.Data.Where(x => x.OrderStatus == (int)OrderStatusEnum.CONFIRMED).OrderBy(x =>
    x.OrderDate).ToList();
    List<Order> sendedOrders = Model.Data.Where(x => x.OrderStatus == (int)OrderStatusEnum.SENDED).OrderBy(x =>
    x.OrderDate).ToList();
    List<Order> completedOrder = Model.Data.Where(x => x.OrderStatus == (int)OrderStatusEnum.COMPLETED).OrderBy(x =>
    x.OrderDate).ToList();
    List<Order> canceledOrders = Model.Data.Where(x => x.OrderStatus == (int)OrderStatusEnum.CANCELED).OrderBy(x =>
    x.OrderDate).ToList();
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Anlık Rapor (Bugünkü)</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Toplam Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Haftalık Rapor</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Toplam Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Aylık Rapor</div>
            <div class="panel-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Aylık Satış : 5</p>
                        <p class="card-text">Toplam Satış Değer : 5000 ₺</p>
                        <a href="#" class="card-link">Rapor Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("OrderList",new {orderList = orders, orderStatus = OrderStatusEnum.ORDERED })
@await Component.InvokeAsync("OrderList",new {orderList = confirmedOrders, orderStatus = OrderStatusEnum.CONFIRMED })
@await Component.InvokeAsync("OrderList",new {orderList = sendedOrders, orderStatus = OrderStatusEnum.SENDED })
@await Component.InvokeAsync("OrderList",new {orderList = completedOrder, orderStatus = OrderStatusEnum.COMPLETED })
@await Component.InvokeAsync("OrderList",new {orderList = canceledOrders, orderStatus = OrderStatusEnum.CANCELED })

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/OrderCreateHub").build();
    connection.start();
    connection.on("ReceiveOrderMessage", function (orderId) {
        console.log('order ID', orderId);
    })

    ChangeOrderStatus = (elem) => {
        var orderId = elem.parentNode.parentNode.id;
        $(`#${orderId}`).remove();
        $.post('/Cart/ChangeOrderStatus', { orderId: orderId }, (responseOrder) => {
            var newRow = '<tr>';
            newRow += `<td>#${responseOrder.id}</td>`;
            newRow += `<td>${responseOrder.user.name} ${responseOrder.user.surname}</td>`;
            newRow += `<td>${responseOrder.user.phoneNumber}</td>`;
            newRow += `<td>${responseOrder.totalPrice}</td>`;
            newRow += `<td class='text-center'><button class='btn btn-primary btn-sm'>Detay</button></td>`;
            newRow += '</tr>';
            $(`#table-${responseOrder.orderStatus}`).append(newRow);
        })
    }
</script>