<!DOCTYPE html>
<html lang="en">

<head>
    <title>Perdecim
    </title>
    <!--css-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!--css-->
    <!--JS-->
    <script src="~/js/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script defer src="~/js/jquery.flexslider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs/dt-1.10.24/fc-3.3.2/fh-3.1.8/r-2.2.7/sb-1.0.1/datatables.min.css" />
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/dt-1.10.24/fc-3.3.2/fh-3.1.8/r-2.2.7/sb-1.0.1/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/ffc884fe5e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!--JS-->
    <!--FONTS-->
    <link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
        rel='stylesheet' type='text/css'>
    <!--FONTS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewData["Title"]</title>

</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ADMIN DASHBOARD</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Admin/Index">Siparişler</a></li>
                    <li><a href="/Product/Products">Ürünler</a></li>
                    <li><a href="/Category/Index">Kategoriler</a></li>
                    <li><a href="/Demand/Index">Ürün Seçenekleri</a></li>
                    <li><a href="/Color/Index">Renkler</a></li>
                    <li><a href="/Brand/Index">Markalar</a></li>
                    <li><a href="#">Oturumu Kapat</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
<script>
    SwalDeleteQuestion = (id, url) => {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sil',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
                $.post(url, { id: id }, function (response) {
                    if (response.isSuccess)
                        window.location.reload();
                    else
                        Swal.fire('Hata', response.message, 'error');
                })
            }
        })
    }
</script>

</html>