<!DOCTYPE html>
<html lang="en">

<head>
    <title>Perdecim
    </title>
    <!--css-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <!--css-->
    <!--JS-->
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script type="text/javascript" src="~/js/bootstrap-3.1.1.min.js"></script>
    <script src="~/js/simpleCart.min.js"></script>
    <script src="~/js/jstarbox.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <script type="text/javascript" src="~/js/jquery-ui.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script defer src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/imagezoom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <!--JS-->
    <!--FONTS-->
    <link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
        rel='stylesheet' type='text/css'>
    <!--FONTS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewData["Title"] - UI</title>

</head>

<body>
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                            }
                            <li><a asp-controller="Profile" asp-action="Index">@User.FindFirst("Surname").Value</a></li>
                            <li><a href="#">Çıkış</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Auth" asp-action="Login">Giriş</a></li>
                            <li><a asp-controller="Auth" asp-action="Register"> Kayıt Ol </a></li>
                        }

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="heder-bottom">
            <div class="container">
                <div class="logo-nav">
                    <div class="logo-nav-left">
                        <h1><a href="index.html">New Shop <span>Shop anywhere</span></a></h1>
                    </div>
                    <div class="logo-nav-left1">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1"
                                    data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav">
                                    @await Component.InvokeAsync("LayoutHeader")
                                </ul>
                            </div>
                        </nav>
                    </div>
                    @await Component.InvokeAsync("LayoutCart")
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer-w3l">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>About </h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="social-icon">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid foot pull-right">
                    <h4>Contacts</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">E Comertown Rd,
                                Westby, USA</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">1
                                599-033-5036</a></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                                href="mailto:example@mail.com"> example@mail.com</a></li>

                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!---footer--->
    <!--copy-->
    <div class="copy-section">
        <div class="container">
            <div class="copy-left">
                <p>&copy; 2016 New Shop . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a>
                </p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>
