<div class="panel panel-success">
    <div class="panel-heading text-center"><b>Profil</b></div>
    <div class="panel-body">
        <div class="thumbnail">
            <img src="~/default.jpg" />
        </div>
        <ul class="list-group">
            <li class="list-group-item text-cemter"><b>@User.FindFirst("Firstname").Value @User.FindFirst("Surname").Value</b></li>
            <li class="list-group-item">Adreslerim</li>
            <li class="list-group-item">Şifre Değiştir</li>
            <li class="list-group-item">Siparişlerim</li>
        </ul>
    </div>
</div>