@{
    int userId = Convert.ToInt32(User.FindFirst("UserId").Value);
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><b>Profil</b></div>
    <div class="panel-body">
        <div class="thumbnail">
            <img src="~/default.jpg" />
        </div>
        <ul class="list-group">
            <li class="list-group-item text-cemter"><b>@User.FindFirst("Firstname").Value @User.FindFirst("Surname").Value</b></li>
            <li class="list-group-item"><a asp-controller="Address" asp-action="Addresses">Adreslerim</a></li>
            <li class="list-group-item"><a asp-controller="Profile" asp-action="ChangePassword">Şifre Değiştir</a></li>
            <li class="list-group-item"><a asp-controller="Profile" asp-action="MyOrders">Siparişlerim</a></li>
        </ul>
    </div>
</div>