@model List<Entities.Concrete.Category>

@foreach (var subCategory in Model)
{
    if (subCategory.ChildCategories.Count == 0)
    {
        <li><input type="checkbox" id="item-@subCategory.ParentId-@subCategory.Id" /><a
        href="/home/products?categoryId=@subCategory.Id">@subCategory.Name</a></li>
    }
    else
    {
        <li>
            <input type="checkbox" checked="checked" id="item-@subCategory.Id" /><label
                for="item-@subCategory.Id">@subCategory.Name</label>
            <ul>
                <partial name="_SubCategoriesPartial" model="subCategory.ChildCategories" />
            </ul>
        </li>
    }

}