@model Entities.Concrete.Category


<li>@Model.Name<a href="#">&emsp;<i class="fa fa-trash text-danger"></i></a><a href="#">&emsp;<i
            class="fa fa-edit text-success"></i></a>
    @if (Model.ChildCategories.Count != 0)
    {
        <ul>
            @foreach (var chieldCategory in Model.ChildCategories)
            {
                @await Component.InvokeAsync("CategoriesHierarchy",new {category=chieldCategory})
            }
        </ul>
    }
</li>
