@model Entities.DTO.Product.CreateProductDto
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading" id="head-two">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-two"
                aria-expanded="true" aria-controls="collapse-two">ÜRÜN EKLE</button>
        </div>
        <div class="panel-body">
            <form asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input asp-for="Name" class="form-control" autocomplete="off" placeholder="Ürün adını giriniz !"
                        type="text" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    <select class="form-control" asp-for="CategoryId"
                        asp-items="@(new SelectList(ViewBag.CreateProductElements.Categories,"Id","Name"))">
                        <option>Seçiniz</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Marka</label>
                    <select class="form-control" asp-for="BrandId"
                        asp-items="@(new SelectList(ViewBag.CreateProductElements.Brands,"Id","Name"))">
                        <option>Seçiniz</option>
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Renk</label>
                    <select class="form-control" asp-for="ColorIds"
                        asp-items="@(new SelectList(ViewBag.CreateProductElements.Colors,"Id","Name"))">
                        <option>Seçiniz</option>
                    </select>
                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <input asp-for="Price" class="form-control" autocomplete="off"
                        placeholder="Ürün fiyatını giriniz !" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>İndirim Oranı (İndirim yok ise boş bırakınız)</label>
                    <input asp-for="DiscountRate" class="form-control" autocomplete="off" type="number"
                        placeholder="İndirim Oranı Giriniz" />
                    <span asp-validation-for="DiscountRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="IsNew" type="checkbox" />
                    <label>Yeni Ürün</label>
                </div>
                <div class="form-group">
                    <input asp-for="IsPopular" type="checkbox" />
                    <label>Popüler Ürün</label>
                </div>
                <div class="form-group">
                    <input asp-for="InStock" type="checkbox" />
                    <label>Stok Durumu</label>
                </div>
                <div class="form-group">
                    <input asp-for="CanNotable" type="checkbox" />
                    <label>İstek Notu Eklenebilir Mi ?</label>
                </div>
                <div class="form-group">
                    <label>Ürün Açıklaması</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Ürün Seçenekleri</label>
                    <select asp-for="DemandTypeIds" class="form-control"
                        asp-items="@(new SelectList(ViewBag.CreateProductElements.DemandTypes,"Id","Name"))"
                        multiple="multiple"></select>
                    <span asp-validation-for="DemandTypeIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Resimler</label>
                    <input asp-for="Images" type="file" class="form-control" multiple />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Kaydet" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#DemandTypeIds").select2({ width: '100%' });
        $("#ColorIds").select2({ width: '100%' });
    })
</script>