@model Entities.DTO.Profile.ChangePasswordDTO;
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row" style="margin-top: 10%; margin-bottom: 20%;">
        <div class="col-md-4">
            <partial name="_ProfileSidebar" />
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading text-center"><b>Kullanıcı Bilgileri</b></div>
                <div class="panel-body">
                    <form asp-controller="Profile" asp-action="ChangePassword" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" type="password" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPasswordConfirm"></label>
                            <input asp-for="NewPasswordConfirm" type="password" class="form-control" />
                            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@if (TempData["ToastMessage"] != null)
{
    <text>
        <script>
            Swal.fire({
                icon: 'success',
                html: '<b>@TempData["ToastMessage"].ToString()</b>',
            })
        </script>
    </text>
}