@model List<UI.Models.Cart.CartModel>

@Html.Hidden("CartCount",Model.Count)
<div class="header-right2">
    <div class="cart box_1">
        <div id="not-empty-cart" class='hidden'>
            <a asp-controller="Cart" asp-action="Basket">
                <h3>
                    <div class="total">
                        <span class="simpleCart_total2">
                            @(Model.Sum(x=>x.Quantity * x.TotalUnitPrice)) ₺
                        </span> (<span id="simpleCart_quantity2"
                            class="simpleCart_quantity2">@Model.Sum(x=>x.Quantity)</span> items)
                    </div>
                    <img src="~/images/bag.png" alt="" />
                </h3>
            </a>
        </div>
        <div id="empty-cart">
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        var cartCount = $("#CartCount").val();
        if (cartCount > 0) {
            $('#not-empty-cart').removeClass('hidden');
            $('#empty-cart').addClass('hidden');
        }
    })
</script>