@using Entities.Concrete;
@model Entities.DTO.Address.UserAddressCreateUpdateDTO;
@{
    ViewData["Title"] = "Adres Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<City> cities = (List<City>)ViewBag.Cities;
}

<div class="container">
    <div class="row" style="margin-top: 10%; margin-bottom: 20%;">
        <div class="col-md-4">
            <partial name="_ProfileSidebar" />
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading text-center"><b>Adres Ekle</b></div>
                <div class="panel-body">
                    <form asp-controller="Address" asp-action="CreateOrUpdate" method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" hidden />
                        <div class="form-group">
                            <label asp-for="AddressType"></label>
                            <select asp-for="AddressType" class="form-control">
                                <option value="">SEÇİNİZ</option>
                                <option value="1">EV</option>
                                <option value="2">İŞ</option>
                                <option value="3">DİĞER</option>
                            </select>
                            <span asp-validation-for="AddressType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CityId"></label>
                            <select asp-for="CityId" asp-items="@(new SelectList(cities,"Id","Name"))"
                                class="form-control select2" onchange="LoadDistrict()">
                                <option value="">SEÇİNİZ</option>
                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DistrictId"></label>
                            <select asp-for="DistrictId" class="form-control select2" onchange="LoadNeighborhoods()">
                                <option value="">SEÇİNİZ</option>
                            </select>
                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NeighborhoodId"></label>
                            <select asp-for="NeighborhoodId" class="form-control select2">
                                <option value="">SEÇİNİZ</option>
                            </select>
                            <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OpenAddress"></label>
                            <textarea asp-for="OpenAddress" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="OpenAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</buton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $(".select2").select2();
        var addressId = $("#Id").val();
        if (addressId !== "0") {
            LoadDistrict('@Model.DistrictId');
            LoadNeighborhoods('@Model.DistrictId', '@Model.NeighborhoodId');
        }
    })
    LoadDistrict = (districtId) => {
        var cityId = $("#CityId").val();
        if (cityId) {
            $.post("/Address/GetDistrictsByCityId", { cityId: cityId }, (response) => {
                if (response) {
                    var districtHTML = '<option value="">SEÇİNİZ</option>';
                    response.forEach(district => {
                        if (districtId && district.id === Number(districtId)) {
                            districtHTML += `<option value="${Number(district.id)}" selected="selected">${district.name}</option>`
                        } else {
                            districtHTML += `<option value="${Number(district.id)}">${district.name}</option>`
                        }
                    });
                    $("#DistrictId").html('').append(districtHTML);
                    if (!districtId) {
                        $("#DistrictId").val('');
                    }
                    $("#NeighborhoodId").val('');
                    $("#NeighborhoodId").html('').append('<option value="">SEÇİNİZ</option>');
                }
            })
        }
    }
    LoadNeighborhoods = (districtId, neighborhoodId) => {
        var districtId = districtId ? districtId : $("#DistrictId").val();
        if (districtId) {
            $.post("/Address/GetNeighborhoodsByDistrictId", { districtId: districtId }, (response) => {
                if (response) {
                    var neighborhoodHTML = '<option value="">SEÇİNİZ</option>';
                    response.forEach(neighborhood => {
                        if (neighborhoodId && neighborhood.id === Number(neighborhoodId)) {
                            debugger;
                            neighborhoodHTML += `<option value="${Number(neighborhood.id)}" selected="selected">${neighborhood.name}</option>`
                        } else {
                            neighborhoodHTML += `<option value="${Number(neighborhood.id)}">${neighborhood.name}</option>`
                        }
                    });
                    if (!neighborhoodId) {
                        $("#NeighborhoodId").val('');
                    }
                    $("#NeighborhoodId").html('').append(neighborhoodHTML);
                }
            })
        }
    }
</script>