@model Entities.Concrete.Color
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="accordion" id="color-accordion">
        <div class="panel panel-danger">
            <div class="panel-heading" id="head-two">
                <button id="collapse-color-panel" type="button" class="btn btn-link" data-toggle="collapse"
                    data-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">RENK EKLE</button>
            </div>
            <div id="collapse-two" class="collapse" aria-labelledby="head-two" data-parent="color-accordion">
                <div class="panel-body">
                    <form asp-action="CreateColor" asp-controller="Color">
                        <input hidden asp-for="Id" />
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label>Renk Adı</label>
                            <input asp-for="Name" class="form-control" autocomplete="off" placeholder="Renk Giriniz" />
                            <span asp-validation-for="Name" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</button>
                            <button type="button" class="btn btn-primary" onclick="RecoverForm()"><i
                                    class="fa fa-refresh"></i> Sıfırla</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading" id="head-one">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-one"
                    aria-expanded="true" aria-controls="collapse-one">RENKLER</button>
            </div>
            <div id="collapse-one" class="collapse show" aria-labelledby="head-one" data-parent="color-accordion">
                <div class="panel-body">
                    <table id="color-table" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Renk</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Colors)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td class="text-center">
                                        <button type='button' class="btn btn-danger btn-sm"
                                            onclick="SwalDeleteQuestion('@item.Id','/Color/DeleteColor')"><i
                                                class="fa fa-trash"></i></button>
                                        &emsp;
                                        <button type='button' class="btn btn-info btn-sm"
                                            onclick="UpdateColor('@item.Id','@item.Name')"><i
                                                class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#color-table").dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            "searching": true,
            "ordering": true,
            "paging": true,
            "pagingType": "full_numbers",
            "pageLength": 10,
            "responsive": true
        })
    });
    UpdateColor = (id, name) => {
        $("#Id").val(id);
        $("#Name").val(name);

        var isOpen = $("#collapse-two")[0].classList.contains('in');
        if (!isOpen)
            $("#collapse-color-panel").click();
    }
    RecoverForm = () => {
        $("#Id").val(0);
        $("#Name").val('');

        Swal.fire("Form Sıfırlandı !", "", "success");
    }
</script>